<section class="content nav-tabs-custom tab-content">
    <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Mês</th>
                    <th>Ano</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let billingCycle of billingCycles">
                    <td>{{ billingCycle.name }}</td> 
                    <td>{{ billingCycle.month }}</td> 
                    <td>{{ billingCycle.year }}</td> 
                    <td class="table-actions"> 
                        <button class="btn btn-warning" (click)="goToForm(billingCycle._id)" ><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-danger" (click)="remove($event, billingCycle)" ><i class="fa fa-trash-o"></i></button>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <button class="btn btn-primary" (click)="goToForm()">Incluir</button>
        <paginator [url]="url" [pages]="pages"></paginator>
    </div>
</section>
