<section class="content nav-tabs-custom tab-content">
    <div role="form">
        <div class="box-body">
            <field id="name" label="Nome" grid="12 6 4" placeholder="Informe o nome" [(ngModel)]="billingCycle.name"></field>
            <field id="month" label="Mês" grid="12 6 4" placeholder="Informe o mês" type="number" [(ngModel)]="billingCycle.month"></field>
            <field id="year" label="Ano" grid="12 6 4" placeholder="Informe o ano" type="number" [(ngModel)]="billingCycle.year"></field>

            <div class="col-xs-12">
                <fieldset>
                    <legend>Resumo</legend>
                    <div class="row">
                        <value-box grid="12 6 4" [value]="credit" text="Total de créditos" color-class="bg-green" icon-class="fa-bank"></value-box>
                        <value-box grid="12 6 4" [value]="debt" text="Total de débitos" color-class="bg-red" icon-class="fa-credit-card"></value-box>
                        <value-box grid="12 6 4" [value]="credit - debt" text="Total consolidado" color-class="bg-blue" icon-class="fa-money"></value-box>
                    </div>
                </fieldset>
            </div>

            <credit-list [(credits)]="billingCycle.credits" (credit)="updateCredit($event)"></credit-list>
            <debt-list [(debts)]="billingCycle.debts" (debt)="updateDebt($event)"></debt-list>
        </div>
        <div class="box-footer">
            <button class="btn" [ngClass]="buttonClass()" (click)="save()">{{ buttonTitle() }}</button>
            <button class="btn btn-default" (click)="back()" >Voltar</button>
        </div>
    </div>
</section>