<ul *ngIf="pages && needPagination" class="pagination pagination-sm no-margin pull-right">
    <li *ngIf="hasPrev()">
        <a (click)="goToPage(current - 1)">Anterior</a>
    </li>
    <li *ngFor="let index of pagesArray" [ngClass]="getClass(index)" >
        <a (click)="goToPage(index)">{{ index }}</a>
    </li>
    <li *ngIf="hasNext()">
        <a (click)="goToPage(current + 1)">Próxima</a>
    </li>
</ul>