<div [ngClass]="gridSystemClasses()">
    <div class="form-group">
        <label [for]="id">{{ label }}</label>
        <input [id]="id" [type]="type" class="form-control" [placeholder]="placeholder" [(ngModel)]="value"/>
    </div>
</div>