<div class="col-xs-12 col-sm-6">
    <fieldset>
        <legend>Débitos</legend>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let debt of debts, let i = index">
                        <td>
                            <input [(ngModel)]="debt.name" class="form-control" placeholder="Informe o nome" />
                        </td>
                        <td class="table-actions">
                            <input [(ngModel)]="debt.value" (change)="calculateValues()" (keyup)="calculateValues()" (paste)="calculateValues()" class="form-control" placeholder="Informe o valor" type="number" />
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="debt.status">
                                <option [value]="null" [selected]="debt.status === null">--</option>
                                <option *ngFor="let item of status | keyvalue" [value]="item.key" [selected]="item.key === debt.status">{{ item.value }}</option>
                            </select>
                        </td>
                        <td class="table-actions">
                            <button class="btn btn-success" (click)="add(i)">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-warning" (click)="clone(i, debt)">
                                <i class="fa fa-clone"></i>
                            </button>
                            <button class="btn btn-danger" (click)="delete(i)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>