<footer class="main-footer">
    <strong>
        Copyright &copy;2020
        <a href="https://bitbucket.org/tiagotds_/mean_front/src/" target="_blank">See more on Bitbucket repository</a>
    </strong>
</footer>