<div class="col-xs-12 col-sm-6">
    <fieldset>
        <legend>Créditos</legend>
        <div class="col-xs-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let credit of credits, let i = index">
                        <td>
                            <input [(ngModel)]="credit.name" class="form-control" placeholder="Informe o nome" />
                        </td>
                        <td>
                            <input [(ngModel)]="credit.value" (change)="calculateValues()" (keyup)="calculateValues()" (paste)="calculateValues()" class="form-control" placeholder="Informe o valor" type="number" />
                        </td>
                        <td class="table-actions">
                            <button class="btn btn-success" (click)="add(i)">
                                <i class="fa fa-plus"></i>
                            </button>
                            <button class="btn btn-warning" (click)="clone(i, credit)">
                                <i class="fa fa-clone"></i>
                            </button>
                            <button class="btn btn-danger" (click)="delete(i)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</div>