<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li>
                <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>Cadastros</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a [routerLink]="['/billing-cycle/list']" routerLinkActive="router-link-active" >
                            <i class="fa fa-usd"></i>Ciclo de Pagamentos
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>