<content-header title="Dashboard" subtitle="Versão 1.0"></content-header>
<section class="content">
    <value-box grid="12 6 4" [value]="credit" text="Total de créditos" color-class="bg-green" icon-class="fa-bank"></value-box>
    <value-box grid="12 6 4" [value]="debt" text="Total de débitos" color-class="bg-red" icon-class="fa-credit-card"></value-box>
    <value-box grid="12 6 4" [value]="total" text="Total consolidado" color-class="bg-blue" icon-class="fa-money"></value-box>
</section>