<div [ngClass]="gridSystemClasses()">
    <div class="small-box" [ngClass]="colorClass">
        <div class="inner">
            <h3>{{ value | currency: 'BRL' }}</h3>
            <p>{{ text }}</p>
        </div>
        <div class="icon">
            <i class="fa" [ngClass]="iconClass"></i>
        </div>
    </div>
</div>