/* You can add global styles to this file, and also import other style files */
html { background-color: #ecf0f5;}
.main-footer {position: fixed; bottom: 0px; width: 100%;}
#toast-container {top: 60px;}
.table-actions {width: 140px;}